/*
  Kien Dang Resume template
  Author: Kien Dang
  Version: 0.0.1
*/
/* BASE - Base style, mixins, variables, etc */
@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic");
/*=================================================================*/
/*                      BASE                              
/*=================================================================*/
* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0 !important;
  overflow: auto !important;
}

body {
  color: #5e5c7f;
  background-color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

.relative {
  position: relative;
}

/*=================================================================*/
/*                      TYPOGRAPHY                              
/*=================================================================*/
h1, h2, h3, h4, h5, h6 {
  color: #454360;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin: 20px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  color: #1667d1;
  outline: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

a:focus {
  outline: 0;
}

blockquote {
  padding: 20px 20px;
  margin: 0 0 20px;
  font-size: 16px;
  background: #F7F7F7;
  border-radius: 10px;
}

blockquote p {
  line-height: 1.6;
}

/* === Pre === */
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 0;
}

/* LAYOUTS */
/*=================================================================*/
/*                      HEADER                              
/*=================================================================*/
.ct-header {
  background: #000000;
  padding: 20px 0;
  border-bottom: solid 1px #ffff;
}

.ct-header .navbar {
  padding: 0;
}

.ct-header .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.ct-header .navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.ct-header .nav-link {
  font-size: 16px;
  font-weight: 700;
  padding: 0;
}

.ct-header .nav-link.active {
  color: #ffd15c !important;
}

.ct-header .nav-link:hover {
  color: #ffd15c !important;
}

.ct-header .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 0.25rem;
}

.ct-header button.navbar-toggler:focus {
  outline: 0;
}

.ct-header .navbar-nav li:not(:last-child) {
  padding-right: 3rem;
}

.ct-header.light {
  background: #c7c7c7;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}

.ct-header.light .navbar-dark .navbar-nav .nav-link {
  color: #000000;
}

@media (min-width: 992px) {
  .ct-header .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
}

footer.footer {
  background: #000000;
  padding: 40px 0;
  text-align: center;
}

footer.footer .copyright {
  color: #9C9AB3;
  font-size: 14px;
}

footer.footer.light {
  background: #c7c7c7;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
}

/*=================================================================*/
/*                      SECTIONS                             
/*=================================================================*/
section {
  padding-top: 110px;
  position: relative;
}

section.home {
  background: #000000;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
}

section.home .intro {
  margin: auto;
  max-width: 540px;
  text-align: center;
  position: relative;
  z-index: 1;
}

section.home .intro h1 {
  color: #fff;
  font-size: 36px;
}

section.home .intro span {
  color: #fff;
  font-size: 16px;
}

section.home .social-icons li a {
  color: #fff;
}

.section-title {
  font-size: 36px;
  margin: 0;
  margin-left: 14px;
  position: relative;
  color: #ffff;
  text-align: center;
}

.section-title:before {
  content: "";
  background-image: url(/images/dots-bg.svg);
  display: block;
  height: 37px;
  left: -14px;
  top: -14px;
  position: absolute;
  width: 37px;
}

/* OTHER MODULES */
/*=================================================================*/
/*                      HELPER                              
/*=================================================================*/
.scroll-down {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  z-index: 1;
}

@-webkit-keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}

@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}

.mouse-wrapper {
  color: #fff;
  font-size: 14px;
  display: block;
  max-width: 100px;
  margin: auto;
  text-align: center;
}

.mouse-wrapper:hover {
  color: #fff;
}

.mouse {
  border: solid 2px #fff;
  border-radius: 16px;
  display: block;
  margin: auto;
  margin-top: 10px;
  height: 26px;
  position: relative;
  width: 20px;
}

.mouse .wheel {
  background: #fff;
  border-radius: 100%;
  display: block;
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 4px;
  -webkit-animation: ani-mouse 2s linear infinite;
          animation: ani-mouse 2s linear infinite;
}

.spacer {
  clear: both;
}

.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6 {
  color: #fff;
}

/*=================================================================*/
/*                      ELEMENTS
/*=================================================================*/
/* === Timeline === */
.timeline {
  position: relative;
}

.timeline .timeline-container {
  padding-left: 50px;
  margin-bottom: 50px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

.timeline .timeline-container:last-of-type {
  margin-bottom: 0;
}

.timeline .content {
  position: relative;
}

.timeline .content .time {
  color: #8b88b1;
  font-size: 14px;
}

.timeline .content h3 {
  font-size: 20px;
  margin: 10px 0;
}

.timeline .content p {
  margin: 0;
}

.timeline span.line {
  position: absolute;
  width: 1px;
  background-color: #1667d1;
  top: 30px;
  bottom: 30px;
  left: 34px;
}

/* === Social Icons === */
.social-icons li:not(:last-child) {
  margin-right: 1.5rem;
}

.social-icons li a {
  font-size: 21px;
}

/* === Helper === */
.rounded {
  border-radius: 20px !important;
}

.bg-white {
  background: #fff;
}

.shadow-dark,
.ct-header .dropdown-menu,
.form-control,
.form-control:focus {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.shadow-light {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 0.01);
          box-shadow: 0px 5px 20px 0px rgba(255, 255, 255, 0.01);
}

.shadow-blue {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
          box-shadow: 0px 5px 20px 0px rgba(108, 108, 229, 0.5);
}

.shadow-pink {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(249, 123, 139, 0.5);
          box-shadow: 0px 5px 20px 0px rgba(249, 123, 139, 0.5);
}

.shadow-yellow {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(249, 215, 76, 0.5);
          box-shadow: 0px 5px 20px 0px rgba(249, 215, 76, 0.5);
}

.padding-30 {
  padding: 30px;
}

.triangle-left:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #fff;
  position: absolute;
  left: -15px;
  top: 20%;
}

.triangle-top:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  left: 50%;
  top: -10px;
  -webkit-transform: translateX(-7.5px);
          transform: translateX(-7.5px);
}

/* === Progress Bar === */
.progress {
  height: 7px;
  margin-bottom: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  border-radius: 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.progress-bar {
  border-radius: 15px;
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 7px;
  color: #fff;
  text-align: center;
  background-color: #000000;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

/*=================================================================*/
/*                      FACTS                              
/*=================================================================*/
.fact-item .details {
  margin-left: 60px;
}

.fact-item .icon {
  font-size: 36px;
  color: #dedeea;
  float: left;
}

.fact-item .number {
  font-size: 30px;
}

.fact-item .number em {
  font-style: normal;
}

.fact-item p {
  font-size: 16px;
}

.roundImg {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: solid #087dc0;
}

/* === Go to Top === */
#return-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  display: block;
  text-decoration: none;
  border-radius: 100%;
  display: none;
  z-index: 4;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#return-to-top svg {
  color: #fff;
  margin: 0;
  position: relative;
  left: 13px;
  top: 8px;
  font-size: 16px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#return-to-top:hover {
  background: #1667d1;
}

/*=================================================================*/
/*                     BUTTONS
/*=================================================================*/
.btn {
  border-radius: 30px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  line-height: 1;
  padding: 12px 32px;
  position: relative;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn:focus {
  outline: 0;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
  cursor: not-allowed;
}

@-webkit-keyframes button-push {
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes button-push {
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.btn-kd {
  color: #fff;
  background: #1667d1;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.btn-kd:hover {
  color: #fff;
  -webkit-animation-name: button-push;
          animation-name: button-push;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

/*=================================================================*/
/*                      RESPONSIVE SETTINGS
/*=================================================================*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  html, body {
    width: 100%;
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .price-item {
    padding: 40px 30px;
  }
}

@media only screen and (max-width: 991px) {
  main.content {
    margin-left: 0;
  }
  .ct-header .nav-link {
    padding: 7px 0;
  }
}

@media only screen and (max-width: 768px) {
  section.home {
    padding: 300px 0;
  }
  section.home .cta h1 {
    font-size: 52px;
  }
  section.home .cta p {
    font-size: 18px;
  }
  .portfolio-filter {
    display: none;
  }
  .portfolio-item, .blog-item {
    max-width: 360px;
    margin: auto;
  }
  .blog-wrapper {
    margin: -20px 0;
  }
  .blog-wrapper .blog-item {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .pf-filter-wrapper {
    display: block;
  }
  .triangle-top-sm:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    left: 50%;
    top: -10px;
    -webkit-transform: translateX(-7.5px);
            transform: translateX(-7.5px);
  }
  body.dark .triangle-top-sm:before {
    border-bottom-color: #302f4e;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 920px;
  }
  .triangle-left-md:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #fff;
    position: absolute;
    left: 0;
    top: 20%;
  }
  body.dark .triangle-left-md:before {
    border-right-color: #302f4e;
  }
}

@media only screen and (max-width: 576px) {
  .portfolio-info li {
    display: block;
    padding: 5px 0;
  }
  .parallax .p1 {
    left: 10%;
    top: 10%;
  }
  .parallax .p2 {
    left: 15%;
    top: 30%;
  }
  .parallax .p3 {
    left: 10%;
    bottom: 30%;
  }
  .parallax .p4 {
    left: 10%;
    bottom: 10%;
  }
  .parallax .p5 {
    left: 45%;
    top: 3%;
  }
  .parallax .p6 {
    left: 40%;
    bottom: 10%;
  }
  .parallax .p7 {
    top: 20%;
    right: 30%;
  }
  .parallax .p8 {
    right: 30%;
    bottom: 20%;
  }
  .parallax .p9 {
    right: 10%;
    top: 5%;
  }
  .parallax .p10 {
    top: 45%;
    right: 10%;
  }
  .parallax .p11 {
    bottom: 10%;
    right: 10%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 920px;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1080px;
  }
}

@media only screen and (max-height: 500px) {
  .scroll-down {
    display: none;
  }
}

/*=================================================================*/
/*                      SKILLS                              
/*=================================================================*/
.skill-item .skill-info h4 {
  font-size: 16px;
  font-weight: 500;
}

.skill-item .skill-info span {
  font-size: 14px;
}

/*=================================================================*/
/*                      SERVICE                              
/*=================================================================*/
.service-box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.service-box h3 {
  font-size: 20px;
}

.service-box img {
  margin-bottom: 22px;
}

.service-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

/*=================================================================*/
/*                      CLIENTS                              
/*=================================================================*/
.knowledge {
  min-height: 50px;
  position: relative;
  text-align: center;
  margin-top: 60px;
}

.knowledge .item {
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.knowledge img {
  display: inline-block;
}

/*=================================================================*/
/*                      SLICK SETTINGS
/*=================================================================*/
.slick-slide {
  height: auto;
  outline: none;
}

.slick-slide img {
  display: inline;
}

.slick-next, .slick-prev {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #000000;
  border-radius: 0;
  top: calc(50% - 40px);
  z-index: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.slick-next:hover, .slick-next:focus, .slick-prev:hover, .slick-prev:focus {
  background: #000000;
}

.slick-prev {
  left: 0;
}

.slick-prev:hover {
  background: #000000;
}

.slick-prev:before, .slick-prev:after {
  left: 17px;
}

.slick-prev:before {
  content: "";
  background: #fff;
  display: block;
  width: 1px;
  height: 14px;
  top: 8px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slick-prev:after {
  content: "";
  background: #fff;
  display: block;
  width: 1px;
  height: 14px;
  position: absolute;
  top: 17px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.slick-next {
  right: 0;
}

.slick-next:hover {
  background: #000000;
}

.slick-next:before, .slick-next:after {
  left: 20px;
}

.slick-next:before {
  content: "";
  background: #fff;
  display: block;
  width: 1px;
  height: 14px;
  top: 8px;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slick-next:after {
  content: "";
  background: #fff;
  display: block;
  width: 1px;
  height: 14px;
  position: absolute;
  top: 17px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  position: relative;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  width: 10px;
  height: 6px;
  margin: 0 5px;
}

.slick-dots li.slick-active {
  width: 20px;
  height: 6px;
}

.slick-dots li.slick-active button:before {
  background: #1667d1;
  border-radius: 3px;
  opacity: 1;
  height: 6px;
  width: 20px;
}

.slick-dots li button {
  width: 10px;
  height: 6px;
  padding: 0;
}

.slick-dots li button:before {
  content: "";
  background: #D4D4FF;
  border-radius: 3px;
  opacity: 1;
  height: 6px;
  width: 10px;
}

/*=================================================================*/
/*                      CONTACT                              
/*=================================================================*/
.contact-info {
  background-image: url("/images/map.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 200px;
}

.contact-info h3 {
  font-size: 23px;
  margin: 0 0 10px;
}

/* === Form Control === */
.ct-form-control, .ct-form-control:focus {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
          box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

.ct-form-control {
  display: block;
  border-radius: 30px;
  width: 100%;
  height: 60px;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #454360;
  background-color: #FFF;
  background-image: none;
  border: 0;
}

.ct-form-control:focus {
  outline: 0;
}

.ct-form-control::-webkit-input-placeholder {
  color: #AEACCA;
}

.ct-form-control:-ms-input-placeholder {
  color: #AEACCA;
}

.ct-form-control::-ms-input-placeholder {
  color: #AEACCA;
}

.ct-form-control::placeholder {
  color: #AEACCA;
}

.form-group {
  margin-bottom: 30px;
}
/*# sourceMappingURL=main.css.map */